PowerApp/pkgs/Wadl/SimulationCentre-CreateAttendance.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SimulationCentre-CreateAttendance" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Simulation Centre - Create Attendance" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_studentNumber_Value_def" />
      <string name="ManualTriggerInput_studentName_Value_def" />
      <string name="ManualTriggerInput_classroom_Value_def" />
      <string name="ManualTriggerInput_scannedTime_Value_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_1_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_2_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_3_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_4_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_5_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_6_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_7_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_8_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_9_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_10_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_11_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_12_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_13_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_14_def" />
      <string name="ManualTriggerInput_Createitem_StudentEmail_15_def" />
      <object name="ManualTriggerInput">
        <property name="studentNumber_Value" type="string" />
        <property name="studentName_Value" type="string" />
        <property name="classroom_Value" type="string" />
        <property name="scannedTime_Value" type="string" />
        <property name="Createitem_StudentEmail" type="string" />
        <property name="Createitem_StudentEmail_1" type="string" />
        <property name="Createitem_StudentEmail_2" type="string" />
        <property name="Createitem_StudentEmail_3" type="string" />
        <property name="Createitem_StudentEmail_4" type="string" />
        <property name="Createitem_StudentEmail_5" type="string" />
        <property name="Createitem_StudentEmail_6" type="string" />
        <property name="Createitem_StudentEmail_7" type="string" />
        <property name="Createitem_StudentEmail_8" type="string" />
        <property name="Createitem_StudentEmail_9" type="string" />
        <property name="Createitem_StudentEmail_10" type="string" />
        <property name="Createitem_StudentEmail_11" type="string" />
        <property name="Createitem_StudentEmail_12" type="string" />
        <property name="Createitem_StudentEmail_13" type="string" />
        <property name="Createitem_StudentEmail_14" type="string" />
        <property name="Createitem_StudentEmail_15" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="studentNumber_Value" path="/studentNumber_Value" type="xs:string" required="true" />
            <param style="plain" name="studentName_Value" path="/studentName_Value" type="xs:string" required="true" />
            <param style="plain" name="classroom_Value" path="/classroom_Value" type="xs:string" required="true" />
            <param style="plain" name="scannedTime_Value" path="/scannedTime_Value" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail" path="/Createitem_StudentEmail" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_1" path="/Createitem_StudentEmail_1" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_2" path="/Createitem_StudentEmail_2" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_3" path="/Createitem_StudentEmail_3" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_4" path="/Createitem_StudentEmail_4" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_5" path="/Createitem_StudentEmail_5" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_6" path="/Createitem_StudentEmail_6" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_7" path="/Createitem_StudentEmail_7" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_8" path="/Createitem_StudentEmail_8" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_9" path="/Createitem_StudentEmail_9" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_10" path="/Createitem_StudentEmail_10" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_11" path="/Createitem_StudentEmail_11" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_12" path="/Createitem_StudentEmail_12" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_13" path="/Createitem_StudentEmail_13" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_14" path="/Createitem_StudentEmail_14" type="xs:string" required="true" />
            <param style="plain" name="Createitem_StudentEmail_15" path="/Createitem_StudentEmail_15" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>